@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('/src/assets/styles/variables.scss');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.main-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(29, 29, 29, 0.9);
  padding: 60px;
  border-radius: 15px;
  box-shadow: 0px 10px 16.4px rgba(0, 0, 0, 0.64);
  max-width: 1000px;
  z-index: 1;
  backdrop-filter: blur(20px);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.image-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.image-section__video, .image-section__photo {
  width: 100%;
  max-width: 430px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scaleX(-1);
}

.text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.text-section__title {
  font-size: 30px;
  color: var(--text-color);
  font-family: 'Dela Gothic One', serif;
  margin-top: -10px;
}

.text-section__description {
  font-size: 30px;
  line-height: 1.5;
  color: var(--text-color);
  font-family: 'Dela Gothic One', serif;
}

.text-section__note {
  font-size: 12px;
  color: var(--note-text-color);
  line-height: 1.4;
  font-family: 'Inter', serif;
}

.button {
  padding: 20px 30px;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
  background: var(--button-bg-color);
  box-shadow: 0px 8px 13.2px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}

.button_photo {
  padding: 10px 56px;
  font-size: 1.5rem;
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
  background: var(--button-bg-color);
  box-shadow: 0px 8px 13.2px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  margin-top: 20px;
  font-family: 'Dela Gothic One', serif;
}

.button_photo_2 {
  padding: 10px 141px;
  font-size: 1.5rem;
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
  background: var(--button-bg-color);
  box-shadow: 0px 8px 13.2px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  margin-top: 20px;
  font-family: 'Dela Gothic One', serif;
}

.button-ready {
  margin-top: 10px;
  padding: 22px 120px;
  font-family: 'Dela Gothic One', serif;
  font-size: 25px;
  margin-left: 56px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 2;
  font-family: 'Dela Gothic One', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 93px;
  color: var(--button-bg-color);
}

.logo__wh {
  color: var(--text-color);
}
